<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>{{raid.title}}</h1>
      <div class="text-right" *ngIf="raid.keycloak_id === user_id">
        <button class="btn btn-outline-danger" (click)="removeRaid()">Delete Raid</button>
      </div>
      <p style="white-space: pre-line;">{{raid.description}}</p>
      <div>World: <strong>{{raid.world}}</strong></div>
      <div>Meet at {{raid.date_meet|date:'full'}}</div>
      <div>Ends at {{raid.date_end|date:'full'}}</div>
      <hr>
    </div>
  </div>
  <div class="row" *ngIf="user_id !== null">
    <div class="col-md-2 col-sm-6" *ngFor="let raider of raiders">
      <div class="card" (click)="selectRaider(raider)" [class.bg-light]="selected_raider != raider" [class.bg-secondary]="selected_raider == raider"
           [class.border-success]="selected_raider == raider" [class.border]="selected_raider == raider">
        <div class="card-body">
          <img class="card-img-top" [src]="'https://census.daybreakgames.com/s:contested/img/eq2/character/' + raider.character.id + '/headshot'" alt="headshot">
        </div>
        <div class="card-img-overlay">
          <h6 class="card-title">
            {{raider.character.displayname}}
          </h6>
        </div>
        <div class="card-text text-center">
          {{raider.character.type.class}}
        </div>
      </div>
    </div>
  </div>
  <hr *ngIf="user_id !== null">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-md-3">
          <h3 class="text-center">MT Group</h3>
          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <div class="text-uppercase text-center font-weight-bold">
                  {{raid.setup.mt.rules.slot_1}}
                </div>
              </div>
              <div class="card-text text-center" *ngIf="raid.setup.mt.slot_1 !== ''">{{raid.setup.mt.slot_1}}</div>
              <button class="btn btn-success btn-block" *ngIf="raid.setup.mt.slot_1 === '' && selected_raider !== null && isRole(raid.setup.mt.rules.slot_1) && !isSigned()"
                      (click)="joinRaid('mt.tank')">Join
              </button>
              <button class="btn btn-primary btn-block" *ngIf="selected_raider !== null && raid.setup.mt.slot_1 === selected_raider.character.displayname" (click)="leaveRaid('mt.tank')">
                Unsign {{selected_raider.character.name.first}}
              </button>
              <button *ngIf="user_id === raid.keycloak_id && raid.setup.mt.slot_1 !== ''" class="btn btn-block btn-danger" (click)="leaveRaid('mt.tank')">
                Kick From Raid
              </button>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <div class="text-uppercase text-center font-weight-bold">
                  {{raid.setup.mt.rules.slot_2}}
                </div>
              </div>
              <div class="card-text text-center" *ngIf="raid.setup.mt.slot_2 !== ''">{{raid.setup.mt.slot_2}}</div>
              <button class="btn btn-success btn-block" *ngIf="raid.setup.mt.slot_2 === '' && selected_raider !== null && isRole(raid.setup.mt.rules.slot_2) && !isSigned()"
                      (click)="joinRaid('mt.dirge_or_bard')">Join
              </button>
              <button class="btn btn-primary btn-block" *ngIf="selected_raider !== null && raid.setup.mt.slot_2 === selected_raider.character.displayname"
                      (click)="leaveRaid('mt.dirge_or_bard')">
                Unsign {{selected_raider.character.name.first}}
              </button>
              <button *ngIf="user_id === raid.keycloak_id && raid.setup.mt.slot_2 !== ''" class="btn btn-block btn-danger" (click)="leaveRaid('mt.dirge_or_bard')">
                Kick From Raid
              </button>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <div class="text-uppercase text-center font-weight-bold">
                  {{raid.setup.mt.rules.slot_3}}
                </div>
              </div>
              <div class="card-text text-center" *ngIf="raid.setup.mt.slot_3 !== ''">{{raid.setup.mt.slot_3}}</div>
              <button class="btn btn-success btn-block"
                      *ngIf="raid.setup.mt.slot_3 === '' && selected_raider !== null && isRole(raid.setup.mt.rules.slot_3) && !isSigned()"
                      (click)="joinRaid('mt.coercer_or_enchanter')">
                Join
              </button>
              <button class="btn btn-primary btn-block" *ngIf="selected_raider !== null && raid.setup.mt.slot_3 === selected_raider.character.displayname"
                      (click)="leaveRaid('mt.coercer_or_enchanter')">
                Unsign {{selected_raider.character.name.first}}
              </button>
              <button *ngIf="user_id === raid.keycloak_id && raid.setup.mt.slot_3 !== ''" class="btn btn-block btn-danger" (click)="leaveRaid('mt.coercer_or_enchanter')">
                Kick From Raid
              </button>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <div class="text-uppercase text-center font-weight-bold">
                  {{raid.setup.mt.rules.slot_4}}
                </div>
              </div>
              <div class="card-text text-center" *ngIf="raid.setup.mt.slot_4 !== ''">{{raid.setup.mt.slot_4}}</div>
              <button class="btn btn-success btn-block" *ngIf="raid.setup.mt.slot_4 === '' && selected_raider !== null && isRole(raid.setup.mt.rules.slot_4) && !isSigned()"
                      (click)="joinRaid('mt.templar_or_healer')">Join
              </button>
              <button class="btn btn-primary btn-block" *ngIf="selected_raider !== null && raid.setup.mt.slot_4 === selected_raider.character.displayname"
                      (click)="leaveRaid('mt.templar_or_healer')">
                Unsign {{selected_raider.character.name.first}}
              </button>
              <button *ngIf="user_id === raid.keycloak_id && raid.setup.mt.slot_4 !== ''" class="btn btn-block btn-danger" (click)="leaveRaid('mt.templar_or_healer')">
                Kick From Raid
              </button>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <div class="text-uppercase text-center font-weight-bold">
                  {{raid.setup.mt.rules.slot_5}}
                </div>
              </div>
              <div class="card-text text-center" *ngIf="raid.setup.mt.slot_5 !== ''">{{raid.setup.mt.slot_5}}</div>
              <button class="btn btn-success btn-block" *ngIf="raid.setup.mt.slot_5 === '' && selected_raider !== null && isRole(raid.setup.mt.rules.slot_5) && !isSigned()"
                      (click)="joinRaid('mt.defiler_or_warder')">Join
              </button>
              <button class="btn btn-primary btn-block" *ngIf="selected_raider !== null && raid.setup.mt.slot_5 === selected_raider.character.displayname"
                      (click)="leaveRaid('mt.defiler_or_warder')">
                Unsign {{selected_raider.character.name.first}}
              </button>
              <button *ngIf="user_id === raid.keycloak_id && raid.setup.mt.slot_5 !== ''" class="btn btn-block btn-danger" (click)="leaveRaid('mt.defiler_or_warder')">
                Kick From Raid
              </button>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <div class="text-uppercase text-center font-weight-bold">
                  {{raid.setup.mt.rules.slot_6}}
                </div>
              </div>
              <div class="card-text text-center" *ngIf="raid.setup.mt.slot_6 !== ''">{{raid.setup.mt.slot_6}}</div>
              <button class="btn btn-success btn-block"
                      *ngIf="raid.setup.mt.slot_6 == '' && selected_raider !== null && isRole(raid.setup.mt.rules.slot_6) && !isSigned()"
                      (click)="joinRaid('mt.swash_or_hatetransfer')">
                Join
              </button>
              <button class="btn btn-primary btn-block" *ngIf="selected_raider !== null && raid.setup.mt.slot_6 === selected_raider.character.displayname"
                      (click)="leaveRaid('mt.swash_or_hatetransfer')">
                Unsign {{selected_raider.character.name.first}}
              </button>
              <button *ngIf="user_id === raid.keycloak_id && raid.setup.mt.slot_6 !== ''" class="btn btn-block btn-danger" (click)="leaveRaid('mt.swash_or_hatetransfer')">
                Kick From Raid
              </button>
            </div>
          </div>
        </div>
        <!-- end MT Group -->
        <div class="col-md-3">
          <h3 class="text-center">OT Group</h3>

          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <div class="text-uppercase text-center font-weight-bold">
                  {{raid.setup.ot.rules.slot_1}}
                </div>
              </div>
              <div class="card-text text-center" *ngIf="raid.setup.ot.slot_1 !== ''">{{raid.setup.ot.slot_1}}</div>
              <button class="btn btn-success btn-block" *ngIf="raid.setup.ot.slot_1 === '' && selected_raider !== null && isRole(raid.setup.ot.rules.slot_1) && !isSigned()"
                      (click)="joinRaid('ot.tank')">Join
              </button>
              <button class="btn btn-primary btn-block" *ngIf="selected_raider !== null && raid.setup.ot.slot_1 === selected_raider.character.displayname" (click)="leaveRaid('ot.tank')">
                Unsign {{selected_raider.character.name.first}}
              </button>
              <button *ngIf="user_id === raid.keycloak_id && raid.setup.ot.slot_1 !== ''" class="btn btn-block btn-danger" (click)="leaveRaid('ot.tank')">
                Kick From Raid
              </button>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <div class="text-uppercase text-center font-weight-bold">
                  {{raid.setup.ot.rules.slot_2}}
                </div>
              </div>
              <div class="card-text text-center" *ngIf="raid.setup.ot.slot_2 !== ''">{{raid.setup.ot.slot_2}}</div>
              <button class="btn btn-success btn-block" *ngIf="raid.setup.ot.slot_2 === '' && selected_raider !== null && isRole(raid.setup.ot.rules.slot_2) && !isSigned()"
                      (click)="joinRaid('ot.dirge_or_bard')">Join
              </button>
              <button class="btn btn-primary btn-block" *ngIf="selected_raider !== null && raid.setup.ot.slot_2 === selected_raider.character.displayname" (click)="leaveRaid('ot.dirge_or_bard')">
                Unsign {{selected_raider.character.name.first}}
              </button>
              <button *ngIf="user_id === raid.keycloak_id && raid.setup.ot.slot_2 !== ''" class="btn btn-block btn-danger" (click)="leaveRaid('ot.dirge_or_bard')">
                Kick From Raid
              </button>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <div class="text-uppercase text-center font-weight-bold">
                  {{raid.setup.ot.rules.slot_3}}
                </div>
              </div>
              <div class="card-text text-center" *ngIf="raid.setup.ot.slot_3 !== ''">{{raid.setup.ot.slot_3}}</div>
              <button class="btn btn-success btn-block"
                      *ngIf="raid.setup.ot.slot_3 === '' && selected_raider !== null && isRole(raid.setup.ot.rules.slot_3) && !isSigned()"
                      (click)="joinRaid('ot.coercer_or_enchanter')">
                Join
              </button>
              <button class="btn btn-primary btn-block" *ngIf="selected_raider !== null && raid.setup.ot.slot_3 === selected_raider.character.displayname"
                      (click)="leaveRaid('ot.coercer_or_enchanter')">
                Unsign {{selected_raider.character.name.first}}
              </button>
              <button *ngIf="user_id === raid.keycloak_id && raid.setup.ot.slot_3 !== ''" class="btn btn-block btn-danger" (click)="leaveRaid('ot.coercer_or_enchanter')">
                Kick From Raid
              </button>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <div class="text-uppercase text-center font-weight-bold">
                  {{raid.setup.ot.rules.slot_4}}
                </div>
              </div>
              <div class="card-text text-center" *ngIf="raid.setup.ot.slot_4 !== ''">{{raid.setup.ot.slot_4}}</div>
              <button class="btn btn-success btn-block" *ngIf="raid.setup.ot.slot_4 === '' && selected_raider !== null && isRole(raid.setup.ot.rules.slot_4) && !isSigned()"
                      (click)="joinRaid('ot.shaman_or_healer')">Join
              </button>
              <button class="btn btn-primary btn-block" *ngIf="selected_raider !== null && raid.setup.ot.slot_4 === selected_raider.character.displayname"
                      (click)="leaveRaid('ot.shaman_or_healer')">
                Unsign {{selected_raider.character.name.first}}
              </button>
              <button *ngIf="user_id === raid.keycloak_id && raid.setup.ot.slot_4 !== ''" class="btn btn-block btn-danger" (click)="leaveRaid('ot.shaman_or_healer')">
                Kick From Raid
              </button>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <div class="text-uppercase text-center font-weight-bold">
                  {{raid.setup.ot.rules.slot_5}}
                </div>
              </div>
              <div class="card-text text-center" *ngIf="raid.setup.ot.slot_5 !== ''">{{raid.setup.ot.slot_5}}</div>
              <button class="btn btn-success btn-block" *ngIf="raid.setup.ot.slot_5 === '' && selected_raider !== null && isRole(raid.setup.ot.rules.slot_5) && !isSigned()"
                      (click)="joinRaid('ot.cleric_or_healer')">Join
              </button>
              <button class="btn btn-primary btn-block" *ngIf="selected_raider !== null && raid.setup.ot.slot_5 === selected_raider.character.displayname"
                      (click)="leaveRaid('ot.cleric_or_healer')">
                Unsign {{selected_raider.character.name.first}}
              </button>
              <button *ngIf="user_id === raid.keycloak_id && raid.setup.ot.slot_5 !== ''" class="btn btn-block btn-danger" (click)="leaveRaid('ot.cleric_or_healer')">
                Kick From Raid
              </button>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <div class="text-uppercase text-center font-weight-bold">
                  {{raid.setup.ot.rules.slot_6}}
                </div>
              </div>
              <div class="card-text text-center" *ngIf="raid.setup.ot.slot_6 !== ''">{{raid.setup.ot.slot_6}}</div>
              <button class="btn btn-success btn-block"
                      *ngIf="raid.setup.ot.slot_6 === '' && selected_raider !== null && isRole(raid.setup.ot.rules.slot_6) && !isSigned()"
                      (click)="joinRaid('ot.dps_or_hatetransfer')">Join
              </button>
              <button class="btn btn-primary btn-block" *ngIf="selected_raider !== null && raid.setup.ot.slot_6 === selected_raider.character.displayname"
                      (click)="leaveRaid('ot.dps_or_hatetransfer')">
                Unsign {{selected_raider.character.name.first}}
              </button>
              <button *ngIf="user_id === raid.keycloak_id && raid.setup.ot.slot_6 !== ''" class="btn btn-block btn-danger" (click)="leaveRaid('ot.dps_or_hatetransfer')">
                Kick From Raid
              </button>
            </div>
          </div>
        </div>
        <!-- end OT -->
        <div class="col-md-3">
          <h3 class="text-center">DPS1</h3>

          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <div class="text-uppercase text-center font-weight-bold">
                  {{raid.setup.dps_1.rules.slot_1}}
                </div>
              </div>
              <div class="card-text text-center" *ngIf="raid.setup.dps_1.slot_1 !== ''">{{raid.setup.dps_1.slot_1}}</div>
              <button class="btn btn-success btn-block" *ngIf="raid.setup.dps_1.slot_1 === '' && selected_raider !== null && isRole(raid.setup.dps_1.rules.slot_1) && !isSigned()"
                      (click)="joinRaid('dps_1.dps_or_tank')">Join
              </button>
              <button class="btn btn-primary btn-block" *ngIf="selected_raider !== null && raid.setup.dps_1.slot_1 === selected_raider.character.displayname"
                      (click)="leaveRaid('dps_1.dps_or_tank')">
                Unsign {{selected_raider.character.name.first}}
              </button>
              <button *ngIf="user_id === raid.keycloak_id && raid.setup.dps_1.slot_1 !== ''" class="btn btn-block btn-danger" (click)="leaveRaid('dps_1.dps_or_tank')">
                Kick From Raid
              </button>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <div class="text-uppercase text-center font-weight-bold">
                  {{raid.setup.dps_1.rules.slot_2}}
                </div>
              </div>
              <div class="card-text text-center" *ngIf="raid.setup.dps_1.slot_2 !== ''">{{raid.setup.dps_1.slot_2}}</div>
              <button class="btn btn-success btn-block" *ngIf="raid.setup.dps_1.slot_2 === '' && selected_raider !== null && isRole(raid.setup.dps_1.rules.slot_2) && !isSigned()"
                      (click)="joinRaid('dps_1.dps')">
                Join
              </button>
              <button class="btn btn-primary btn-block" *ngIf="selected_raider !== null && raid.setup.dps_1.slot_2 === selected_raider.character.displayname"
                      (click)="leaveRaid('dps_1.dps')">
                Unsign {{selected_raider.character.name.first}}
              </button>
              <button *ngIf="user_id === raid.keycloak_id && raid.setup.dps_1.slot_2 !== ''" class="btn btn-block btn-danger" (click)="leaveRaid('dps_1.dps')">
                Kick From Raid
              </button>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <div class="text-uppercase text-center font-weight-bold">
                  {{raid.setup.dps_1.rules.slot_3}}
                </div>
              </div>
              <div class="card-text text-center" *ngIf="raid.setup.dps_1.slot_3 !== ''">{{raid.setup.dps_1.slot_3}}</div>
              <button class="btn btn-success btn-block" *ngIf="raid.setup.dps_1.slot_3 === '' && selected_raider !== null && isRole(raid.setup.dps_1.rules.slot_3) && !isSigned()"
                      (click)="joinRaid('dps_1.bard')">
                Join
              </button>
              <button class="btn btn-primary btn-block" *ngIf="selected_raider !== null && raid.setup.dps_1.slot_3 === selected_raider.character.displayname"
                      (click)="leaveRaid('dps_1.bard')">
                Unsign {{selected_raider.character.name.first}}
              </button>
              <button *ngIf="user_id === raid.keycloak_id && raid.setup.dps_1.slot_3 !== ''" class="btn btn-block btn-danger" (click)="leaveRaid('dps_1.bard')">
                Kick From Raid
              </button>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <div class="text-uppercase text-center font-weight-bold">
                  {{raid.setup.dps_1.rules.slot_4}}
                </div>
              </div>
              <div class="card-text text-center" *ngIf="raid.setup.dps_1.slot_4 !== ''">{{raid.setup.dps_1.slot_4}}</div>
              <button class="btn btn-success btn-block" *ngIf="raid.setup.dps_1.slot_4 === '' && selected_raider !== null && isRole(raid.setup.dps_1.rules.slot_4) && !isSigned()"
                      (click)="joinRaid('dps_1.enchanter')">Join
              </button>
              <button class="btn btn-primary btn-block" *ngIf="selected_raider !== null && raid.setup.dps_1.slot_4 === selected_raider.character.displayname"
                      (click)="leaveRaid('dps_1.enchanter')">
                Unsign {{selected_raider.character.name.first}}
              </button>
              <button *ngIf="user_id === raid.keycloak_id && raid.setup.dps_1.slot_4 !== ''" class="btn btn-block btn-danger" (click)="leaveRaid('dps_1.enchanter')">
                Kick From Raid
              </button>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <div class="text-uppercase text-center font-weight-bold">
                  {{raid.setup.dps_1.rules.slot_5}}
                </div>
              </div>
              <div class="card-text text-center" *ngIf="raid.setup.dps_1.slot_5 !== ''">{{raid.setup.dps_1.slot_5}}</div>
              <button class="btn btn-success btn-block" *ngIf="raid.setup.dps_1.slot_5 === '' && selected_raider !== null && isRole(raid.setup.dps_1.rules.slot_5) && !isSigned()"
                      (click)="joinRaid('dps_1.healer_or_dps')">Join
              </button>
              <button class="btn btn-primary btn-block" *ngIf="selected_raider !== null && raid.setup.dps_1.slot_5 === selected_raider.character.displayname"
                      (click)="leaveRaid('dps_1.healer_or_dps')">
                Unsign {{selected_raider.character.name.first}}
              </button>
              <button *ngIf="user_id === raid.keycloak_id && raid.setup.dps_1.slot_5 !== ''" class="btn btn-block btn-danger" (click)="leaveRaid('dps_1.healer_or_dps')">
                Kick From Raid
              </button>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <div class="text-uppercase text-center font-weight-bold">
                  {{raid.setup.dps_1.rules.slot_6}}
                </div>
              </div>
              <div class="card-text text-center" *ngIf="raid.setup.dps_1.slot_6 !== ''">{{raid.setup.dps_1.slot_6}}</div>
              <button class="btn btn-success btn-block" *ngIf="raid.setup.dps_1.slot_6 === '' && selected_raider !== null && isRole(raid.setup.dps_1.rules.slot_6) && !isSigned()"
                      (click)="joinRaid('dps_1.healer')">Join
              </button>
              <button class="btn btn-primary btn-block" *ngIf="selected_raider !== null && raid.setup.dps_1.slot_6 === selected_raider.character.displayname"
                      (click)="leaveRaid('dps_1.healer')">
                Unsign {{selected_raider.character.name.first}}
              </button>
              <button *ngIf="user_id === raid.keycloak_id && raid.setup.dps_1.slot_6 !== ''" class="btn btn-block btn-danger" (click)="leaveRaid('dps_1.healer')">
                Kick From Raid
              </button>
            </div>
          </div>

        </div>


        <div class="col-md-3">
          <h3 class="text-center">DPS2</h3>

          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <div class="text-uppercase text-center font-weight-bold">
                  {{raid.setup.dps_2.rules.slot_1}}
                </div>
              </div>
              <div class="card-text text-center" *ngIf="raid.setup.dps_2.slot_1 !== ''">{{raid.setup.dps_2.slot_1}}</div>
              <button class="btn btn-success btn-block" *ngIf="raid.setup.dps_2.slot_1 === '' && selected_raider !== null && isRole(raid.setup.dps_2.rules.slot_1) && !isSigned()"
                      (click)="joinRaid('dps_2.dps_or_tank')">Join
              </button>
              <button class="btn btn-primary btn-block" *ngIf="selected_raider !== null && raid.setup.dps_2.slot_1 === selected_raider.character.displayname"
                      (click)="leaveRaid('dps_2.dps_or_tank')">
                Unsign {{selected_raider.character.name.first}}
              </button>
              <button *ngIf="user_id === raid.keycloak_id && raid.setup.dps_2.slot_1 !== ''" class="btn btn-block btn-danger" (click)="leaveRaid('dps_2.dps_or_tank')">
                Kick From Raid
              </button>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <div class="text-uppercase text-center font-weight-bold">
                  {{raid.setup.dps_2.rules.slot_2}}
                </div>
              </div>
              <div class="card-text text-center" *ngIf="raid.setup.dps_2.slot_2 !== ''">{{raid.setup.dps_2.slot_2}}</div>
              <button class="btn btn-success btn-block" *ngIf="raid.setup.dps_2.slot_2 === '' && selected_raider !== null && isRole(raid.setup.dps_2.rules.slot_2) && !isSigned()"
                      (click)="joinRaid('dps_2.dps')">
                Join
              </button>
              <button class="btn btn-primary btn-block" *ngIf="selected_raider !== null && raid.setup.dps_2.slot_2 === selected_raider.character.displayname"
                      (click)="leaveRaid('dps_2.dps')">
                Unsign {{selected_raider.character.name.first}}
              </button>
              <button *ngIf="user_id === raid.keycloak_id && raid.setup.dps_2.slot_2 !== ''" class="btn btn-block btn-danger" (click)="leaveRaid('dps_2.dps')">
                Kick From Raid
              </button>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <div class="text-uppercase text-center font-weight-bold">
                  {{raid.setup.dps_2.rules.slot_3}}
                </div>
              </div>
              <div class="card-text text-center" *ngIf="raid.setup.dps_2.slot_3 !== ''">{{raid.setup.dps_2.slot_3}}</div>
              <button class="btn btn-success btn-block" *ngIf="raid.setup.dps_2.slot_3 === '' && selected_raider !== null && isRole(raid.setup.dps_2.rules.slot_3) && !isSigned()"
                      (click)="joinRaid('dps_2.bard')">
                Join
              </button>
              <button class="btn btn-primary btn-block" *ngIf="selected_raider !== null && raid.setup.dps_2.slot_3 === selected_raider.character.displayname"
                      (click)="leaveRaid('dps_2.bard')">
                Unsign {{selected_raider.character.name.first}}
              </button>
              <button *ngIf="user_id === raid.keycloak_id && raid.setup.dps_2.slot_3 !== ''" class="btn btn-block btn-danger" (click)="leaveRaid('dps_2.bard')">
                Kick From Raid
              </button>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <div class="text-uppercase text-center font-weight-bold">
                  {{raid.setup.dps_2.rules.slot_4}}
                </div>
              </div>
              <div class="card-text text-center" *ngIf="raid.setup.dps_2.slot_4 !== ''">{{raid.setup.dps_2.slot_4}}</div>
              <button class="btn btn-success btn-block" *ngIf="raid.setup.dps_2.slot_4 === '' && selected_raider !== null && isRole(raid.setup.dps_2.rules.slot_4) && !isSigned()"
                      (click)="joinRaid('dps_2.enchanter')">Join
              </button>
              <button class="btn btn-primary btn-block" *ngIf="selected_raider !== null && raid.setup.dps_2.slot_4 === selected_raider.character.displayname"
                      (click)="leaveRaid('dps_2.enchanter')">
                Unsign {{selected_raider.character.name.first}}
              </button>
              <button *ngIf="user_id === raid.keycloak_id && raid.setup.dps_2.slot_4 !== ''" class="btn btn-block btn-danger" (click)="leaveRaid('dps_2.enchanter')">
                Kick From Raid
              </button>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <div class="text-uppercase text-center font-weight-bold">
                  {{raid.setup.dps_2.rules.slot_5}}
                </div>
              </div>
              <div class="card-text text-center" *ngIf="raid.setup.dps_2.slot_5 !== ''">{{raid.setup.dps_2.slot_5}}</div>
              <button class="btn btn-success btn-block" *ngIf="raid.setup.dps_2.slot_5 === '' && selected_raider !== null && isRole(raid.setup.dps_2.rules.slot_5) && !isSigned()"
                      (click)="joinRaid('dps_2.healer_or_dps')">Join
              </button>
              <button class="btn btn-primary btn-block" *ngIf="selected_raider !== null && raid.setup.dps_2.slot_5 === selected_raider.character.displayname"
                      (click)="leaveRaid('dps_2.healer_or_dps')">
                Unsign {{selected_raider.character.name.first}}
              </button>
              <button *ngIf="user_id === raid.keycloak_id && raid.setup.dps_2.slot_5 !== ''" class="btn btn-block btn-danger" (click)="leaveRaid('dps_2.healer_or_dps')">
                Kick From Raid
              </button>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <div class="text-uppercase text-center font-weight-bold">
                  {{raid.setup.dps_2.rules.slot_6}}
                </div>
              </div>
              <div class="card-text text-center" *ngIf="raid.setup.dps_2.slot_6 !== ''">{{raid.setup.dps_2.slot_6}}</div>
              <button class="btn btn-success btn-block" *ngIf="raid.setup.dps_2.slot_6 === '' && selected_raider !== null && isRole(raid.setup.dps_2.rules.slot_6) && !isSigned()"
                      (click)="joinRaid('dps_2.healer')">Join
              </button>
              <button class="btn btn-primary btn-block" *ngIf="selected_raider !== null && raid.setup.dps_2.slot_6 === selected_raider.character.displayname"
                      (click)="leaveRaid('dps_2.healer')">
                Unsign {{selected_raider.character.name.first}}
              </button>
              <button *ngIf="user_id === raid.keycloak_id && raid.setup.dps_2.slot_6 !== ''" class="btn btn-block btn-danger" (click)="leaveRaid('dps_2.healer')">
                Kick From Raid
              </button>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

  <hr>
</div>
<icod-raidnotes [raid_id]="raid.id" [raider]="selected_raider"></icod-raidnotes>
<br>
<br>
<br>
<br>
