<div class="container">
  <p>contested.de is a free to use site built out of necessity.</p>
  <p>The problem it aims to address is if you play Everquest 2, which is a MMORPG, especially if you play on TLE, you like to group with people.
  A Raid is a larger group. In fact it can be up to 4 groups in size. However when you have up to 24 people playing together at the same time, needs arise.
  Needs for management of that raid, loot distribution, advertising, organisation.
  For that cause traditionally guilds took over the role of those kinds of things.</p>
  <p>However when you join a guild you usually have to be available at certain times on certain days. Even if you don't feel like you'd like to raid today.</p>
  <p>This is where this site, contested.de, jumps in.</p>
  <p>This site allows you to create raids and sign up for raids. That is the short version.</p>
</div>
