<div class="container">
  <h3>About</h3>
  <p>contested.de is a free to use site built out of necessity.</p>
  <p>The problem it aims to address is if you play Everquest 2, which is a MMORPG, especially if you play on TLE, you like to group up with people.
    A Raid is a larger group. In fact it can be up to 4 groups in size. However when you have up to 24 people playing together at the same time, needs arise.
    Needs for management of that raid, loot distribution, advertising, organisation.
    For that cause traditionally guilds took over the role of those kinds of things.</p>
  <p>However when you join a raid guild you usually have to be available at certain times on certain days. Even if you don't feel like you'd like to raid today.</p>
  <p>This is where this site, contested.de, comes into place.</p>
  <p>This site allows you to create raids and sign up for raids.</p>
</div>
<div class="container">
  <h3>Contested Guild</h3>
  <p>There is also a "contested" guild located on the servers "Fallen Gate" and "Thurgadin". Any friendly, mature person is invited to join.<br>
    This site is of course also an attempt to find cool people to play, hang out and raid with.<br>
    "Contested" guild's main timezones are Europe and Australia.</p>
</div>
<div class="container">
  <h3>FAQ</h3>
  <dl>
    <dt>Is this thing secure?</dt>
    <dd>The account portion is as secure as it can be at the current state of technology. The webapp however wasn't written with security and tampering protection in mind. Someone who knows
      what he's doing will not have a very hard time for instance acting as someone he is not or joining raids he's not supposed to. I'm not going to actively persue an offender. However,
      should a person repeatedly try to harm this service and its users I won't back down to report this behaviour to the authorities. All actions are logged. I built this service to be
      useful and enjoyable for everyone and kept it as simple as possible. So there's no glory in absuing it.
    </dd>
    <dt>Where can I change my account details?</dt>
    <dd>https://connect.icod.de/auth/realms/contested.de/account</dd>
    <dt>I can't delete my account? Where can I delete my account?</dt>
    <dd>Currently it's not possible to delete accounts. I will add a contant form in due time.</dd>
    <dt>I don't need this, I'm a Pr0 boi, lix0r my s0x0r, you noob GTFO!1one, ma epeen is over 9000 guilds PWN y00, RIP RIP REKKKDDDD!!1 kek lel</dt>
    <dd>¯\_(ツ)_/¯</dd>
    <dt>I found a bug, have a feature request or suggestion for improvement</dt>
    <dd>Open an issue here: https://github.com/eq2funraider/contested-issues (requires github account)</dd>
    <dt>Is this a for-profit service?</dt>
    <dd>This is a non-profit, hobby type of service. Is completely free to use. It has no hidden or visible coin miners or costs. But ads may be displayed in order to cover hosting costs.
    </dd>
    <dt>Oh yeah? Then why do you want to know my Paypal?</dt>
    <dd>I don't. Paypal is also an authentication and authorization provier, like Google, Facebook, Microsoft and Github.</dd>
    <dt>I have an account at &lt;random service&gt; I'd like to log in with it. Can you add the service?</dt>
    <dd>Sorry the software doesn't support other providers but those listed or I don't have an account with them. See
      https://www.keycloak.org/docs/3.4/server_admin/index.html#social-identity-providers for more info.
    </dd>
    <dt>I'd like to help developing/extending this service</dt>
    <dd>Sorry, the project isn't open source at this time.</dd>
    <dt>You're asking for my real name! My first and last name/ When I log in with Facebook/Google/etc my real name is displayed. Why?</dt>
    <dd>Please use the name of your <strong>main character</strong> or something else you and others can identify you with. It's used for notes on the raid. I'm really not interested in
      knowing your real name or personal details. You can change your account details at https://connect.icod.de/auth/realms/contested.de/account .
    </dd>
    <dt>Will you sell my email to marketeers or use it to send me spam?</dt>
    <dd>Absolutely not! Not only would I act against EU laws, but I also really hate spam. Don't do unto others what you don't want to done to you.</dd>
  </dl>
</div>
