<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink=""><img src="/assets/favicon-256.png" width="30" height="30"></a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="raids">Raids</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li *ngIf="isLoggedin()" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="raiders">Raiders</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedin()">
          <button class="btn btn-light nav-link" (click)="logoff()">Logout</button>
        </li>
        <li class="nav-item" *ngIf="!isLoggedin()">
          <button class="btn btn-outline-warning nav-link" (click)="login()">Login or Register</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
