<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>List of Raids</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div *ngIf="isLoggedin()" class="text-right mb-3">
        <button class="btn btn-outline-primary" routerLink="/new">+ Plan New Raid</button>
      </div>
      <div class="text-left mb-3">
        <div class="form-group col-md-4">
          <label for="world">Filter by World</label>
          <select id="world" [(ngModel)]="selected_world" class="form-control" name="world">
            <option *ngFor="let world of worlds" [value]="world">{{world}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-12">
        <div class="card" *ngFor="let raid of raids | raidworldfilter: selected_world">
          <div class="card-body">
            <div class="card-title">{{raid.title}}</div>
            <div class="card-text">
              <h6>{{raid.world}}</h6>
              <p><strong class="badge badge-secondary">{{raid.date_meet|date:'full'}}</strong> &mdash; <strong class="badge badge-secondary">{{raid.date_end|date:'mediumTime'}}</strong></p>
              <button class="btn btn-block btn-outline-primary" [routerLink]="raid.id">Details</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
