<div class="container">
  <form (submit)="createRaid()">
    <fieldset>
      <legend>Create New Raid</legend>
      <div class="row">
        <div class="col-sm-3">
          <label for="date">
            What date is the raid going to happen?
          </label><br>
          <ngb-datepicker #dp [(ngModel)]="model.date" (navigate)="date = $event.next" name="date"
                          id="date"></ngb-datepicker>
        </div>
        <div class="col-sm-3">
          <label for="time_start">
            What time is the raid going to <strong>start</strong>?
          </label>
          <ngb-timepicker [(ngModel)]="model.time_start" [seconds]="false" [hourStep]="1" [minuteStep]="15"
                          name="time_start"
                          id="time_start"></ngb-timepicker>
          <br>
          <label for="time_end">
            What time is the raid going to <strong>end</strong>?
          </label>
          <ngb-timepicker [(ngModel)]="model.time_end" [seconds]="false" [hourStep]="1" [minuteStep]="15"
                          name="time_end"
                          id="time_end"></ngb-timepicker>
        </div>
        <div class="col-sm-6">
          <label for="title">Give the raid a meaningful title (e.g. Snoopy's MMIS, Pawbuster, Kor'Sha Raid)</label>
          <input type="text" [(ngModel)]="model.title" name="title" id="title" class="form-control" required>
          <br>
          <label for="description">
            Describe the raid.. targets, goals, anything useful, bring potions etc. be at least this high
          </label>
          <textarea [(ngModel)]="model.description" name="description" id="description" class="form-control"
                    rows="15"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="world">World</label>
            <select id="world" name="world" class="form-control" [(ngModel)]="model.world">
              <option *ngFor="let world of worlds" [value]="world">{{world}}</option>
            </select>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
    <legend>Raid Setup</legend>
      <div class="row">
        <div class="col-12">
          <div>
          Valid values:
          <span class="badge badge-pill">tank</span>,
          <span class="badge badge-pill">healer</span>,
          <span class="badge badge-pill">mage</span>,
          <span class="badge badge-pill">scout</span>,
          <span class="badge badge-pill">warrior</span>,
          <span class="badge badge-pill">brawler</span>,
          <span class="badge badge-pill">crusader</span>,
          <span class="badge badge-pill">cleric</span>,
          <span class="badge badge-pill">shaman</span>,
          <span class="badge badge-pill">druid</span>,
          <span class="badge badge-pill">summoner</span>,
          <span class="badge badge-pill">enchanter</span>,
          <span class="badge badge-pill">sorcerer</span>,
          <span class="badge badge-pill">rogue</span>,
          <span class="badge badge-pill">predator</span>,
          <span class="badge badge-pill">bard</span>,
          <span class="badge badge-pill">dps</span>,
          <span class="badge badge-pill">hatetransfer</span>,
          <span class="badge badge-pill">guardian</span>,
          <span class="badge badge-pill">berserker</span>,
          <span class="badge badge-pill">bruiser</span>,
          <span class="badge badge-pill">monk</span>,
          <span class="badge badge-pill">shadowknight</span>,
          <span class="badge badge-pill">paladin</span>,
          <span class="badge badge-pill">templar</span>,
          <span class="badge badge-pill">inquisitor</span>,
          <span class="badge badge-pill">defiler</span>,
          <span class="badge badge-pill">mystic</span>,
          <span class="badge badge-pill">fury</span>,
          <span class="badge badge-pill">warden</span>,
          <span class="badge badge-pill">necromancer</span>,
          <span class="badge badge-pill">conjuror</span>,
          <span class="badge badge-pill">wizard</span>,
          <span class="badge badge-pill">warlock</span>,
          <span class="badge badge-pill">illusionist</span>,
          <span class="badge badge-pill">coercer</span>,
          <span class="badge badge-pill">brigand</span>,
          <span class="badge badge-pill">swashbuckler</span>,
          <span class="badge badge-pill">assassin</span>,
          <span class="badge badge-pill">ranger</span>,
          <span class="badge badge-pill">dirge</span>,
          <span class="badge badge-pill">troubador</span>.
          </div>
          <div>You can also have multiple criteria for one raid slot. For instance, <span class="badge badge-pill">predator,summoner</span> or <span class="badge badge-pill">tank,mage,scout,healer</span>..</div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <h6>MT Group</h6>
          <div class="card">
            <div class="card-body">
              <label for="mt.tank">Tank</label>
              <input id="mt.tank" name="mt.tank" [(ngModel)]="model.setup.mt.rules.slot_1" class="form-control">
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <label for="mt.templar_or_healer">Templar or Healer</label>
              <input id="mt.templar_or_healer" name="mt.templar_or_healer" [(ngModel)]="model.setup.mt.rules.slot_2" class="form-control">
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <label for="mt.defiler_or_warder">Defiler or Shaman</label>
              <input id="mt.defiler_or_warder" name="mt.defiler_or_warder" [(ngModel)]="model.setup.mt.rules.slot_3" class="form-control">
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <label for="mt.coercer_or_enchanter">coercer_or_enchanter</label>
              <input id="mt.coercer_or_enchanter" name="mt.coercer_or_enchanter" [(ngModel)]="model.setup.mt.rules.slot_4" class="form-control">
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <label for="mt.dirge_or_bard">dirge_or_bard</label>
              <input id="mt.dirge_or_bard" name="mt.dirge_or_bard" [(ngModel)]="model.setup.mt.rules.slot_5" class="form-control">
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <label for="mt.swash_or_hatetransfer">swash_or_hatetransfer</label>
              <input id="mt.swash_or_hatetransfer" name="mt.swash_or_hatetransfer" [(ngModel)]="model.setup.mt.rules.slot_6" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <h6>OT Group</h6>
          <div class="card">
            <div class="card-body">
              <label for="ot.tank">Tank</label>
              <input id="ot.tank" name="ot.tank" [(ngModel)]="model.setup.ot.rules.slot_1" class="form-control">
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <label for="ot.cleric_or_healer">cleric_or_healer</label>
              <input id="ot.cleric_or_healer" name="ot.cleric_or_healer" [(ngModel)]="model.setup.ot.rules.slot_2" class="form-control">
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <label for="ot.shaman_or_healer">shaman_or_healer</label>
              <input id="ot.shaman_or_healer" name="ot.shaman_or_healer" [(ngModel)]="model.setup.ot.rules.slot_3" class="form-control">
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <label for="ot.coercer_or_enchanter">coercer_or_enchanter</label>
              <input id="ot.coercer_or_enchanter" name="ot.coercer_or_enchanter" [(ngModel)]="model.setup.ot.rules.slot_4" class="form-control">
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <label for="ot.dirge_or_bard">dirge_or_bard</label>
              <input id="ot.dirge_or_bard" name="ot.dirge_or_bard" [(ngModel)]="model.setup.ot.rules.slot_5" class="form-control">
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <label for="ot.dps_or_hatetransfer">dps_or_hatetransfer</label>
              <input id="ot.dps_or_hatetransfer" name="ot.dps_or_hatetransfer" [(ngModel)]="model.setup.ot.rules.slot_6" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <h6>DPS Group</h6>
          <div class="card">
            <div class="card-body">
              <label for="dps_1.bard">bard</label>
              <input id="dps_1.bard" name="dps_1.bard" [(ngModel)]="model.setup.dps_1.rules.slot_1" class="form-control">
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <label for="dps_1.enchanter">enchanter</label>
              <input id="dps_1.enchanter" name="dps_1.enchanter" [(ngModel)]="model.setup.dps_1.rules.slot_2" class="form-control">
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <label for="dps_1.dps_or_tank">dps_or_tank</label>
              <input id="dps_1.dps_or_tank" name="dps_1.dps_or_tank" [(ngModel)]="model.setup.dps_1.rules.slot_3" class="form-control">
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <label for="dps_1.dps">dps</label>
              <input id="dps_1.dps" name="dps_1.dps" [(ngModel)]="model.setup.dps_1.rules.slot_4" class="form-control">
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <label for="dps_1.healer_or_dps">healer_or_dps</label>
              <input id="dps_1.healer_or_dps" name="dps_1.healer_or_dps" [(ngModel)]="model.setup.dps_1.rules.slot_5" class="form-control">
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <label for="dps_1.healer">healer</label>
              <input id="dps_1.healer" name="dps_1.healer" [(ngModel)]="model.setup.dps_1.rules.slot_6" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <h6>DPS Group</h6>
          <div class="card">
            <div class="card-body">
              <label for="dps_2.bard">bard</label>
              <input id="dps_2.bard" name="dps_2.bard" [(ngModel)]="model.setup.dps_2.rules.slot_1" class="form-control">
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <label for="dps_2.enchanter">enchanter</label>
              <input id="dps_2.enchanter" name="dps_2.enchanter" [(ngModel)]="model.setup.dps_2.rules.slot_2" class="form-control">
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <label for="dps_2.dps_or_tank">dps_or_tank</label>
              <input id="dps_2.dps_or_tank" name="dps_2.dps_or_tank" [(ngModel)]="model.setup.dps_2.rules.slot_3" class="form-control">
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <label for="dps_2.dps">dps</label>
              <input id="dps_2.dps" name="dps_2.dps" [(ngModel)]="model.setup.dps_2.rules.slot_4" class="form-control">
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <label for="dps_2.healer_or_dps">healer_or_dps</label>
              <input id="dps_2.healer_or_dps" name="dps_2.healer_or_dps" [(ngModel)]="model.setup.dps_2.rules.slot_5" class="form-control">
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <label for="dps_2.healer">healer</label>
              <input id="dps_2.healer" name="dps_2.healer" [(ngModel)]="model.setup.dps_2.rules.slot_6" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>
        Sitters
      </legend>
      <div class="form-group">
        <label for="sitting">
          How many slots would you like to make available for sitters?
          Note: They usually have a right to roll on loot because they're available to swap out.
        </label>
        <input name="sitsize" type="number" class="form-control" id="sitting" [(ngModel)]="model.setup.sitsize">
      </div>
    </fieldset>
    <div class="row" *ngIf="alerts">
      <div class="col-12">
        <div *ngFor="let alert of alerts">
          <ngb-alert [type]="alert.type" [dismissible]="false">{{alert.message}}</ngb-alert>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block" type="submit">Create This Raid Now</button>
    </div>
  </form>
</div>
